.container {
    margin: 2em 16em;
    padding: 1em 2em;
    text-align: start;
    background-color: white;
    -webkit-box-shadow: 0px 5px 20px -6px black;
    -moz-box-shadow: 0px 5px 20px -6px black;
    box-shadow: 0px 5px 20px -6px black;
}

input {
    min-width: auto;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 2px 10px -2px black;
    -moz-box-shadow: 0px 2px 10px -2px black;
    box-shadow: 0px 2px 10px -2px black;
}

select {
    min-width: auto;
    width: 100%;
    padding: .5em 0px;
    -webkit-box-shadow: 0px 2px 10px -2px black;
    -moz-box-shadow: 0px 2px 10px -2px black;
    box-shadow: 0px 2px 10px -2px black;
}

.btn {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.btn:hover {
    transform: rotateY(180deg);
}

.headerFooter {
    height: 10px;
    color: #BF4342;
    font-size: 60px;
    margin: 0 0 5rem;
}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .container {
        margin: 1em 5%;
        margin-bottom: 20em;
        padding: 1em 2em;
        text-align: start;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .container {
        margin: 2em 10%;
        padding: 1em 2em;
        text-align: start;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .container {
        margin: 2em 10%;
        padding: 1em 2em;
        text-align: start;
    }
}