.panel {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px -6px black;
    -moz-box-shadow: 0px 5px 10px -6px black;
    box-shadow: 0px 5px 10px -6px black;
}

.actionBtns {
    display: flex;
    justify-content: space-between;
}

.panelDetailsBtn, .panelEditBtn {
    color: #BF4342;
    padding: 0px 5px;
    position: relative;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.panelDetailsBtn:hover {
    color: white;
    background-color: #333;
    border-radius: 5px;
    transform: rotateY(360deg);
}

.panelEditBtn:hover {
    color: white;
    background-color: #BF4342;
    border-radius: 5px;
    transform: rotateY(360deg);
}

.panelDeleteBtn {
    transform: rotateY(360deg);
}

.panelBtn {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.panelBtn:hover {
    transform: rotateY(360deg);
}

.panelTitle {
    color: #BF4342;
    text-decoration: double underline #A78A7F;
    font-size: 1.75rem;
}

.panelSubTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}