.horseCard {
    border: 2px solid black;
    margin: 10px 10rem;
}

.panel {
    border: 5px solid black;
}

.panelTitle {
    font-size: 4rem;
    font-weight: bolder;
}

.panelHeading {
    border-bottom: 2px solid black;
}

.panelBody {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    font-size: 2.5rem;
}

.panelFooter {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.panelReturnBtn, .panelEditBtn {
    color: #BF4342;
    padding: 0px 5px;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.panelReturnBtn:hover, .panelEditBtn:hover {
    color: white;
    background-color: #BF4342;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.reAlign {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0px 10%;
}