.disclaimer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #BF4342;
    height: auto;
    width: 100%;
    padding-bottom: 1em;
    -webkit-box-shadow: 0px 5px 20px -6px black;
    -moz-box-shadow: 0px 5px 20px -6px black;
    box-shadow: 0px 5px 20px -6px black;
    position: relative;
    animation: teamsAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes teamsAnim {
    0%   {right: -1500px;}
    100% {right: 0px;}
  }


.disclaimer {
    color: white;
    margin: 1em 11em;
    padding: 1em 0px;
}

.disclaimer-title {
    text-decoration: underline;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .disclaimer-title {
        padding: 0px;
    }

    .disclaimer {
        font-size: .75rem;
        margin: 1rem 10%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .disclaimer-title {
        padding: 0px 3em 0px;
    }

    .disclaimer {
        font-size: 1rem;
        margin: 1rem 10%;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .disclaimer-container {
        height: auto;
        width: 100%;
    }

    .disclaimer-title {
        padding: 0px 1em;
    }

    .disclaimer {
        font-size: 1.75rem;
        margin: 1rem 10%;
    }
}