.formContainer {
    background-color: white;
    -webkit-box-shadow: 0px 2px 10px -2px black;
    -moz-box-shadow: 0px 2px 10px -2px black;
    box-shadow: 0px 2px 10px -2px black;
    margin: 2em 16em;
    padding: 1em 2em;
    text-align: start;
}

.formLabel {
    display: flex;
}

.headerFooter {
    height: 10px;
    color: #BF4342;
    font-size: 60px;
    margin: 0 0 5rem;
}

.btnActions {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

select {
    width: 100%;
}