.team-container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #E6D6C0;
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0px 5px 20px -6px black;
    -moz-box-shadow: 0px 5px 20px -6px black;
    box-shadow: 0px 5px 20px -6px black;
    animation: teamAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    left: 0px;
}


@keyframes teamAnim {
    0%   {left: -1500px;}
    100% {left: 0px;}
}

.team-Heading {
    text-decoration: underline;
    position: relative;
    font-size: 4rem;
    color: #BF4342;
    text-align: center;
    width: 100%;
}

.text-Content {
    position: relative;
}

.horseJumpImgBgd {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: gold;
    background-image: url('Horse-Jumping-Silhouette.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    -webkit-box-shadow: 0px 5px 20px -6px black;
    -moz-box-shadow: 0px 5px 20px -6px black;
    box-shadow: 0px 5px 20px -6px black;
    border: 2px solid rgb(235, 199, 0);
}

.rotate {
    animation: rotation 2s infinite linear;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  @keyframes rotation {
    from {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-40deg);
    }
  }

.team-text-content {
    font-size: 1.10rem;
    margin: 1rem 10em 0px;
}

span {
    color: red;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .team-container {
        height: auto;
        width: 100%;
    }

    .team-text-content {
        font-size: 1.10rem;
        margin: 1rem 10%;
    }

    .team-Heading {
        font-size: 4rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .team-container {
        height: auto;
        width: 100%;
    }

    .team-text-content {
        font-size: 1.25rem;
        margin: 1rem 10%;
    }

    .team-Heading {
        font-size: 3rem;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .team-container {
        height: auto;
        width: 100%;
    }

    .team-text-content {
        font-size: 1.75rem;
        margin: 1rem 10%;
    }

    .team-Heading {
        font-size: 4rem;
    }
}