.Heading {
    margin: 0px 10em;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1em 1em;
}

.panelBody {
    display: flex;
    justify-content: flex-start;
}

.subHeading {
    display: flex;
    justify-content: flex-start;
    color: #333333;
    font-size: 1.5rem;
}

.lines {
    border: 1px solid #8C1C13;
    width: 68vw;
    margin: 0px auto;
    margin-bottom: 1.5em;
}

.actionBtn {
    width: 100%;
}
.panelDeleteBtn {
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
}

.commentText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    margin-left: 0px;
    color: black;
}
