.NavBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.NavBar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.NavBar-link {
    color: white;
    text-decoration: none;
    padding: 0px 5px;
}
.NavBar-link:hover {
    color: white;
    background-color: #BF4342;
    border-radius: 10px;
}

.NavBar-link:active {
    color: orange;
    background-color: #BF4342;
    border-radius: 10px;
}

.NavBar-welcome {
    color: #BF4342;
    background-color: #E7D7C1;
    border-radius: 10px;
    padding: 0px 5px;
}

.NavBar-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0px 1rem;
    position: relative;
    animation: navAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes navAnim {
    0%   {top: -50px;}
    100% {top: 0px;}
  }

.mainLogoText {
    text-align: center;
    color: #BF4342;
    text-decoration: double underline;
    /* font-size: 30px; */
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px)  {

}

@media only screen and (min-device-width: 768px) {
    .NavBar-header {
        font-size: 1.5rem;
        white-space: nowrap;
    }
}