.NavBar-header {
    background-color: #A68A7F;
    display: flex;
    width: 98vw;
    height: 4vh;
    margin: .5em auto;
    position: relative;
    animation: navAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    font-size: 1.5rem;
    white-space: nowrap;
}

@keyframes navAnim {
    0%   {top: -50px;}
    100% {top: 0px;}
}


.nav-wrapper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A68A7F;
}

.align-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
}

.NavBar-link {
    color: white;
    text-decoration: none;
    padding: 0px 5px;
}

.NavBar-link:hover {
    color: white;
    background-color: #BF4342;
    border-radius: 10px;
}

.mainLogoText {
    text-align: center;
    color: #BF4342;
    text-decoration: double underline;
    font-size: 2rem;
}

.NavBar-link:active {
    color: orange;
    background-color: #BF4342;
    border-radius: 10px;
}

.NavBar-welcome {
    color: #BF4342;
    background-color: #E7D7C1;
    border-radius: 10px;
    padding: 0px 5px;
}



@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .NavBar-header {
        font-size: .75rem;
    }

    .mainLogoText {
        line-height: 20px;
        font-size: .9rem;
        color: gold;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .NavBar-header {
        font-size: 1.5rem;
    }

    .mainLogoText {
        line-height: 40px;
        font-size: 2rem;
        color:orange;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .NavBar-header {
        font-size: 2.5rem;
    }

    .mainLogoText {
        line-height: 60px;
        font-size: 3rem;
        color: #BF4342;
    }
}