.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color:#BF4342;
    padding: 5px 10px;
    position: relative;
    bottom: 0px;
}

.barnFooterImg {
    width: 25px;
}

.footer-right {
    margin-left: 20rem;
}


