.displayBlock {
    display: block;
    width: 100%;
    height: auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0px;
    -webkit-box-shadow: 0px 5px 20px -6px black;
    -moz-box-shadow: 0px 5px 20px -6px black;
    box-shadow: 0px 5px 20px -6px black;
    background-color:#7d6257;
    color: white;
    padding: 5px 10px;
    margin: 1em 0px;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0%   {bottom: -50px;}
    100% {bottom: 0;}
  }


.barnFooterImg {
    height: 1em;
    width: 2em;
    background-color: white;
    border-radius: 100%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.barnFooterImg:active {
    position: absolute;
    right: 20rem;
    transform: rotateX(360deg);
    background-color: #C04342;
    border-radius: 0%;
}

.footer-left {
    margin-left: 1rem;
}

.footer-right {
    margin-left: auto;
    margin-right: 1rem;
}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .footer-container {
        display: flex;
        justify-content: center;
        font-size: .5rem;
        white-space: wrap;
    }

    .displayBlock {
        height: 40vh;
        margin-top: 6em ;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .footer-container {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        white-space: wrap;
    }

    .displayBlock {
        height: 18vh;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .footer-container {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        white-space: wrap;
    }

    .displayBlock {
        height: 30vh;
    }
}

@media screen and ( min-height: 400px ) {

    .displayBlock {
        height: 80vh;
    }
}

@media screen and ( min-height: 500px ) {

    .displayBlock {
        height: 60vh;
    }
}

@media screen and ( min-height: 700px ) {

    .displayBlock {
        height: 20vh;
    }
}

@media only screen  and (max-device-width: 1000px) and ( min-height: 700px ) {

    .displayBlock {
        height: 11vh;
    }
}
