.header-footer {
    height: 10px;
}

button {
    background-color: #bf4342;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: white;
    color: #BF4342;
    border-radius: 5px;
    padding: 5px;
}

.SignupForm {
    width: 100%;
}

.cancelLink {
    color: #BF4342;
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelLink:hover {
    color: white;
    background-color: #BF4342;
    border-radius: 5px;
    padding: 0px 5px;
}

.form-control {
    width: 100%;
}

input {
    box-shadow: none;
}

.inputValues {
    height: 2.5em;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.inputValues:focus {
    border-bottom: 2px solid #35A59A;
}

  
.form-horizontal {
    width: 100%;
    margin: auto;
}

.form-label {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 1em 0px;
    color: black;
}
  
.form-group-btns {
    display: flex;
}

.btn-default {
    margin: auto;
    background-color: #35A59A;
    color: white;
}


.text-center {
    display: flex;
}

::placeholder {
    color: gray;
    font-size: .75rem;
}
