.header-footer {
    height: 10px;
}

button {
    background-color: #bf4342;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: white;
    color: #BF4342;
    border-radius: 5px;
    padding: 5px;
}

.SignupForm {
    width: 100%;
}

.cancelLink {
    color: #BF4342;
    text-decoration: none;
    padding: 5px;
}

.cancelLink:hover {
    color: white;
    background-color: #BF4342;
    border-radius: 5px;
    padding: 0px 5px;
}

.form-control {
    width: 100%;
}
  
.form-horizontal {
    border: 2px solid black;
    width: 100%;
    margin: auto;
}

.form-label {
    display: flex;
    justify-content: start;
}
  
.form-group-btns {
    display: flex;
}

.btn-default {
    margin: auto;
}

.text-center {
    display: flex;
}
