.barnImg {
    color: red;
    margin: 25px 0px 0px;
}

.titleText {
    font-size: 5rem;
    /* color: #8C1C13; */
    color: #BF4342;
    text-align: center;
    width: 100%;
    margin: -40px -0px;
    position: relative;
    animation: titleTextAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    left: 0px;
}

@keyframes titleTextAnim {
    0%   {left: -1500px;}
    100% {left: 0px;}
}

.subTitleText {
    font-size: 3rem;
    color: #BF4342;
    text-align: center;
    width: 100%;
    margin: -60px -0px;
    position: relative;
    animation: subTitleTextAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    right: 0px;
}

@keyframes subTitleTextAnim {
    0%   {left: -1500px;}
    100% {left: 0px;}
  }

.barnImg {
    min-width: 30%;
    margin-top: 3em;
    position: relative;
    animation: barnAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes barnAnim {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

.spacing {
    position: relative;
    margin: 60px -0px;
    font-size: 1rem;
}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .barnImg {
        width: 80%;
    }
    .titleText {
        font-size: 3rem;
        margin: -30px -0px;
    }
    
    .subTitleText {
        font-size: 2rem;
        margin: -40px -0px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .barnImg {
        width: 55%;
    }
    .titleText {
        font-size: 5rem;
        margin: -30px -0px;
    }
    
    .subTitleText {
        font-size: 3rem;
        margin: -40px -0px;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .barnImg {
        width: 40%;
    }
    .titleText {
        font-size: 7rem;
        margin: -50px -0px;
    }
    
    .subTitleText {
        font-size: 4.5rem;
        margin: -80px -0px;
    }
}