.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
  width: auto;
  position: relative;
  animation: appAnim;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}

@keyframes appAnim {
  0%   {top: -50px;}
  100% {top: 0px;}
  }


main {
  min-height: calc(100vh - 51.46px - 259.54px);
}

footer {
  width: 100%;
}

header {
  width: auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px;
  background-color: #A78A7F;
}
