.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
  width: auto;
  position: relative;
  animation: appAnim;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes appAnim {
  0%   {top: -50px;}
  100% {top: 0px;}
  }


footer {
  width: 100%;
}

header {
  width: auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  min-height: auto;
  color: white;
  padding: .5em 0px;
  background-color: #A78A7F;
  animation: navOpacityAnim;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* opacity: 100%; */
}

/* @keyframes navOpacityAnim {
  0%   {opacity: 0%;}
  100% {opacity: 100%;}
} */