.footer-top-container {
    background-color: #A68A7F;
    height: auto;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px; /* 0em or 2em*/
    -webkit-box-shadow: 0px 5px 20px -6px black;
    -moz-box-shadow: 0px 5px 20px -6px black;
    box-shadow: 0px 5px 20px -6px black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2em 0px;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* border: 5px solid green; */
}

@keyframes content {
    0%   {bottom: -50px;}
    100% {bottom: 2;}
  }

ul li a {
    color: orange;
    text-decoration: none;
}

ul li a:hover {
    color: red;
    text-decoration: underline white solid;
}

.footer-title-link a {
    color: orange;
    text-decoration: none;
}

.footer-title-link a:hover {
    color: red;
    text-decoration: underline white solid;
}

.footer-title {
    text-decoration: underline;
}

.footer-top-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 1em 0px 0px 1em;
    border-left: 1px solid #BF4342;
    text-align: start;
    animation: opacityAnim;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0%;
    /* border: 5px solid blue; */
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 1em 0px 0px 1em;
    /* border: 5px solid blue; */
}

.horseImg {
    width: 60%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: opacityAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0%;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.horseImg:hover {
    transform: rotateY(180deg) rotateX(360deg);
}

@keyframes opacityAnim {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .footer-top-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: .75rem;
        white-space: wrap;
        grid-template-columns: 4fr;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .footer-top-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: .75rem;
        white-space: wrap;
        grid-template-columns: 1fr 4fr;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .footer-top-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: 1.5rem;
        white-space: wrap;
        grid-template-columns: 1fr 3fr;
    }
}